.img_error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    img {
        max-width: 90vw;
        max-height: 90vh;
        width: auto;
        height: auto;
    }

}